@import "Styles/variables.scss";
@import "Styles/mixin.scss";

.settings-popup {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: $spacer-3;
    width: 314px;
    padding: $spacer;
    background: $globalBgColor;
    box-shadow: $box-shadow-base;
    z-index: 10;
    display: none;

    &:before,
    &:after {
        @include absolutePseudo;
        border-top: none!important;
        background-color: transparent!important;
    }

    &:before {
        left: calc(50% - 8px);
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        top: -12px;
        border-bottom: 12px solid rgba($themeColor, 0.3);
    }

    &:after {
        left: calc(50% - 4px);
        border-left: 8px solid transparent!important;
        border-right: 8px solid transparent!important;
        top: -8px;
        border-bottom: 8px solid $globalBgColor!important;
    }

    &.show {
        display: flex;
    }
}