@import "Styles/variables.scss";
@import "Styles/mixin.scss";

.eyes {
    justify-content: space-around;
    width: 100%;
    margin-top: $spacer-3;

    .eye {
        height: 1rem;
        width: 1rem;
        @include classesForProps;
        cursor: pointer;

        &.right {

        }
        &.left {
            
        }
    }
}