@import "Styles/variables.scss";
@import "Styles/mixin.scss";


.robot-head {
    flex-direction: column;

    .dance & {
        animation: danceHead $transition-dance;
        animation-iteration-count: infinite;
    }

    .neck {
        height: 0.5rem;
        width: 2rem;
        margin-bottom: $spacer-1;
        @include classesForProps;

        .dance & {
            animation: danceNeck $transition-dance;
            animation-iteration-count: infinite;
        }
    }

    .antennas {
        justify-content: space-around;
        width: 50%;
        .antenna {
            height: 3rem;
            width: 0;
            @include classesForProps;
    
            &:after {
                @include absolutePseudo;
                top: -$spacer;
                left: -0.5rem;
                height: 1rem;
                width: 1rem;
            }
    
            &.right {
                transform: rotate(45deg);
                transform-origin: bottom left;

                .dance & {
                    animation: danceAntennaRight $transition-dance;
                    animation-iteration-count: infinite;
                }
            }
    
            &.left {
                transform: rotate(-45deg);
                transform-origin: bottom right;

                .dance & {
                    animation: danceAntennaLeft $transition-dance;
                    animation-iteration-count: infinite;
                }
            }
        }
    }
}
