@import "Styles/reset.css";
@import "Styles/variables.scss";
@import "Styles/mixin.scss";

body {
    background-color: $black;
    font-size: $font-size-base;
    * {
        color: #fff;
        font-family: $font-family-base;
    }
}

button { 
  cursor: pointer;
}

.round-button {
    @include flexCenter;
    min-width: $spacer-6;
    height: $spacer-6;
    margin: $spacer-1;
    padding: 0 $spacer-2;
    border: 4px solid $darkGray;
    border-radius: $spacer-3;
    background-color: $black;
    color: $green;
    transition: all $transition-short ease;
    text-decoration: none;
    line-height: 1;

    &.circle {
        padding: 0;
    }

    i {
      font-size: $font-size-large;
      margin-top: -4px;
      color: $green;
    }

    &:hover:not(:disabled),
    &.active {
        background-color: $green;
        border-color: $green;
        cursor: pointer;
        color: #fff;
        i {
            color: #fff;
        }
    }

    &:disabled {
        opacity: 0.5;
        cursor: default;
    }
}

.done-button {
    background-color: $green;
    height: $spacer-4;
    margin: 0;
    padding: 0 $spacer;
    text-align: center;
    white-space: nowrap;
    color: $black;
    &:hover:not(:disabled) {
        color: $black;
        background-color: lighten($green, 10%);
    }
    &:disabled {
        opacity: 0.5;
    }
}