
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400&display=swap");

$lightGray: #A3A1A1; // middle gray
$defaultGray: #5F5F5F; // gray
$black: #000;
$darkGray: #393939; // mix dark green
$green: #65D283;
$orange: #FF8B37;
$red: #FF4A4A;

// spacers

$spacer: 1rem;             // 16px
$spacer-1: $spacer * 0.5;  // 8px
$spacer-2: $spacer;        // 16px
$spacer-3: $spacer * 1.5;  // 24px
$spacer-4: $spacer * 2;    // 32px
$spacer-5: $spacer * 2.5;  // 40px
$spacer-6: $spacer * 3;    // 48px

// fonts

$font-size-base: $spacer; // 16px
$font-size-large: $spacer-4; // 32px

$font-family-base: "Prompt", sans-serif;

// box shadows

$box-shadow-base: 0 0 0 0.25rem rgba($green, 0.3);

// borders

$border-radius-sm: 6px;
$border-radius-round: 50%;

// transition duration

$transition-short: 0.3s;
$transition-long: 0.5s;
$transition-dance: 1s;


