@import "Styles/variables.scss";
@import "Styles/mixin.scss";

.settings-row {
    @include flexCenter;
    position: relative;
    width: 100%;
    padding-bottom: $spacer-1;
    border-bottom: 1px solid $layoutBorderColor;
    margin-bottom: $spacer-1;

    * {
        @include classesForProps;
    }

    &.rounded-top,
    &.rounded-bottom,
    &.border-radius {
        * {
            background-color: $layoutBorderColor;
        }
    }

    .background-no-color,
    .border-no-color {
        border: 1px solid $errorColor !important;
        &:before {
            @include absolutePseudo;
            left: 19px;
            top: -8px;
            width: 1px;
            height: 54px;
            background-color: $errorColor;
            transform: rotate(45deg);
        }
    }

    &.distribute {
        * {
            position: relative;
            &:before,
            &:after {
                @include absolutePseudo;
                width: $spacer-1;
                height: $spacer-1;
                background-color: $layoutBorderColor;
            }
        }
        .horizontal {
            &:before,
            &:after {
                top: $spacer;
            }

            &:before {
                left: $spacer-1;
            }

            &:after {
                left: unset;
                right: $spacer-1;
            }
        }
        .vertical {
            &:before,
            &:after {
                left: $spacer;
            }

            &:before {
                top: $spacer-1;
            }

            &:after {
                top: unset;
                bottom: $spacer-1;
            }
        }
    }


    li {
        width: $spacer-5;
        height: $spacer-5;
        margin: $spacer-1;
        cursor: pointer;
        box-shadow: 0 0 0 0.125rem $globalBgColor;
        &:hover,
        &.selected {
            box-shadow: 0 0 0 0.125rem #fff;
        }
    }
}
