@import "Styles/variables.scss";
@import "Styles/mixin.scss";

.robot-head-middle {
    margin-bottom: $spacer-1;

    .face {
        flex-direction: column;
        justify-content: space-around;
        height: 6rem;
        width: 6rem;
        order: 2;
        @include classesForProps;
        
        .eyes {
            justify-content: space-around;
            width: 100%;
            margin-top: $spacer-3;
        
            .eye {
                height: 1rem;
                width: 1rem;
                @include classesForProps;


                .dance & {
                    animation: danceEye $transition-dance;
                    animation-iteration-count: infinite;
                }

                &.right {
                    animation-delay: $transition-dance / 2;
                }
            }
        }
    
        .mouth {
            height: 0.5rem;
            width: 2rem;
            @include classesForProps;
            transition: all $transition-long ease;

            .dance & {
                transform: translate(0, -8px) scale(1.5, 1)
            }
        }
    
    }

    .ear {
        height: 1rem;
        width: 0.5rem;
        @include classesForProps;

        .dance & {
            animation: danceEar $transition-dance;
            animation-iteration-count: infinite;
        }
    }
}