@import "Styles/variables.scss";
@import "Styles/mixin.scss";

.buttons {
    width: 100%;
    justify-content: space-around;
    .button {

        height: 1rem;
        width: 1rem;
        background-color: $baseBorderColor;
        border-radius: $border-radius-round;
        &-1 {

        }

        &-2 {
            
        }
    }
}