@import "Styles/variables.scss";
@import "Styles/mixin.scss";

.ear {
    height: 1rem;
    width: 0.5rem;
    @include classesForProps;
    cursor: pointer;

    &.right {

    }
    &.left {
        
    }
}